[Unit]
Description=uWSGI instance to serve proj2
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/app/cc-proj2
Environment="PATH=/home/ubuntu/app/cc-proj2/.venv/bin"
ExecStart=/home/ubuntu/app/cc-proj2/.venv/bin/uwsgi --ini proj2.ini

[Install]
WantedBy=multi-user.target